<div class="row">
    <div class="col-md-2">
        <select [(ngModel)]="brandId" class="form-select">
            <option value=0>Markalar</option>
            <option *ngFor="let brand of brands" [value]="brand.id" [selected]="selectBrand(brand.id)">
                {{brand.name}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <select [(ngModel)]="colorId" class="form-select">
            <option value=0>Renkler</option>
            <option *ngFor="let color of colors" [selected]="selectColor(color.id)" [value]="color.id">
                {{color.name}}</option>
        </select>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-success"
            routerLink="/car/getbrandandcolorid/brand/{{brandId}}/color/{{colorId}}">Filtrele</button>
    </div>
    <div class="col-md-1">
        <button routerLink="/car" type="button" class="btn btn-danger">Temizle</button>
    </div>
</div>