<div class="row">
    <div class="col-md-12">
        <div class="card" style="width: 38rem;" *ngFor="let car of cars">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let image of carImages; let i = index" [ngClass]="getSliderClassName(i)">
                        <img src="{{ imageBasePath }}{{ image.imagePath }}" class="d-block" width="100%" height="100%"
                            alt="..." />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">{{car.brandName}}</h5>
            </div>

            <div class="card-body" style="text-align: center;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{car.descriptions}}</li>
                    <li class="list-group-item">{{car.colorName}}</li>
                    <li class="list-group-item">{{car.modelYear}}</li>
                    <li class="list-group-item">{{car.dailyPrice | currency:"TRY":"symbol"}}</li>
                    <li class="list-group-item"> <select [(ngModel)]="customerId" class="form-select">
                            <option value=0>Kullanıcılar</option>
                            <option *ngFor="let rental of rentals" value=0>
                                {{rental.firstName+" "+rental.lastName}}</option>
                        </select>
                    </li>
                    <li class="list-group-item">

                        <input type="date" name="" id="">

                    </li>

                </ul>
            </div>
            <button routerLink="/rental/rentalform/{{ car.id }}" type="button" class="btn btn-warning">
                buy
            </button>
        </div>
    </div>
</div>