<app-filter></app-filter>
<div class="col-md-12">
    <table class="table">
        <thead>
            <th>[Id]</th>
            <th>Markası</th>
            <th>Rengi</th>
            <th>Model Yılı</th>
            <th>Günlük Fiyatı</th>
            <th>Açıklama</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars| filterCarPipe:filterCar">
                <td>{{car.id}}</td>
                <td>{{car.brandName}}</td>
                <td>{{car.colorName}}</td>
                <td>{{car.modelYear | date:'yyyy'}}</td>
                <td>{{car.dailyPrice | currency:'₺'}}</td>
                <td>{{car.descriptions}}</td>
                <td> <button routerLink="/cars/cardetail/{{ car.id }}" type="button" class="btn btn-warning">
                        Detaylar
                    </button></td>
            </tr>
        </tbody>
    </table>
</div>